.enjoy
  = image_tag src= "/assets/awaji00.jpg", size: "530x530",class: "enjoy__image", usemap: "#awaji", alt: "画像が見つかりません"
%map{name: "#awaji"}
  %area{shape: "poly", coords: "405,28,370,83,428,58" , href: "https://www.city.awaji.lg.jp/", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "369,87,429,63,398,128,347,122" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "344,125,395,133,351,186,312,175" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "309,178,349,191,302,264,263,250" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "262,253,300,267,326,369,208,334" , href: "https://www.city.sumoto.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "206,338,327,375,350,384,364,401,359,421,314,438,169,395" , href: "https://www.city.sumoto.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "208,413,299,439,293,448,243,467,225,487,196,503,189,499,185,426" , href: "https://www.city.minamiawaji.hyogo.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "181,428,185,495,144,515,135,510,109,478,112,462" , href: "https://www.city.minamiawaji.hyogo.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "204,411,115,455,83,444,65,390,73,374" , href: "https://www.city.minamiawaji.hyogo.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "76,369,163,392,191,351,171,279,160,285,130,345,93,347" , href: "https://www.city.sumoto.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "174,274,194,347,239,279,212,203,179,252" , href: "https://www.city.sumoto.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "216,202,242,273,289,201,271,149,226,189" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "274,142,293,195,338,123,331,99,292,118" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "336,98,341,117,401,27,375,47" , href: "https://www.city.awaji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}

