%h1 エギングの基礎知識
.h1img
  = image_tag src= "/assets/bass.jpeg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 バス釣りとは
%h3 バスフィッシングとも呼ばれているブラックバスを狙う釣り。
.explain
  .explain__area
    %p 北米大陸原産のブラックバスは、1925年に日本の芦ノ湖に移入された後、全国各地に分布しました。ブラックバスは肉食性の魚で、小魚や甲殻類なを好物としており、水中の物陰に潜んで餌を待ち伏せしたり、時には小魚を浅瀬に追い込んで捕食しています。その為、ルアー（疑似餌）にも積極的に食らいつき、その強い引きや、高いゲーム性も合間って、バス釣りは人気の釣りジャンルの1つになっています。
  .explain__img
    = image_tag src= "/assets/bass1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 バス釣りのルアー
.explain
  .explain__area
    %p ルアーには大別してハードルアーとソフトルアー（ワーム）といったものがあります。ルアーはその形状や、使われている素材、ルアーの潜行深度等によって類別されています。バス釣りのルアーは、様々なルアーフィッシングの中でも最もルアーの種類が豊富で、ルアーを選ぶ楽しみが多い釣りといえます。
  .explain__img
    = image_tag src= "/assets/bass2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 バス釣りのシーズン
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p この頃はバスが活発に餌を追いますので、水深1.5メートル未満の浅場で狙ってみましょう。
  .season__summer
    .season__summer__logo
      %p 夏
    %p 気温の上昇と共に水温が上がるこの季節は、バスの行動範囲・行動時間が限られます。
  .season__fall
    .season__fall__logo
      %p 秋
    %p バスは餌を求めて色々な所へ散ってしまいますので、ハードルアーなどスピーディーな釣りで広範囲を探りましょう！
  .season__winter
    .season__winter__logo
      %p 冬
    %p ピンポイントでバスの潜むエリアを絞り、バスの目の前までルアーをアプローチしなくてはなりません。