.enjoy
  = image_tag src= "/assets/enjoy.jpg", size: "530x530",class: "enjoy__image", usemap: "#enjoy", alt: "画像が見つかりません"
%map{name: "#enjoy"}
  %area{shape: "poly", coords: "195,47,191,59,203,69,225,66,228,99,219,107,290,164,282,174,285,178,307,185,307,195,312,195,318,183,325,192,352,230,353,243,374,250,408,250,400,219,367,118,294,59,256,13,252,14" , href: kyoto_posts_path, alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "99,162,282,160,240,130,215,108,222,99,222,70,200,72,190,58,190,45,131,32,106,52,99,162,205,111" , href: hyogon_posts_path, alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "97,163,284,166,274,178,276,196,294,203,290,227,297,244,282,251,222,267,202,260,91,244,72,193,74,193" , href: hyogos_posts_path, alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "278,179,280,194,300,200,292,227,300,244,286,254,284,296,231,338,234,345,339,317,347,230,325,194,316,192,311,203,302,195,302,186,284,182" , href: osaka_posts_path, alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "231,348,332,325,348,356,400,468,387,504,357,521,277,504,223,417,228,341,228,341"  , href: wakayama_posts_path, alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "211,274,138,297,142,365,164,375,215,347,237,316,220,274,220,276" , href: awaji_posts_path, alt: "画像が見つかりません"}
