.enjoy
  = image_tag src= "/assets/hyogo-nihonkai00.jpg", size: "530x530",class: "enjoy__image", usemap: "#hyogon", alt: "画像が見つかりません"
%map{name: "#hyogon"}
  %area{shape: "poly", coords: "393,248,417,233,454,235,488,253,528,252,528,281,536,286,534,307,526,313,525,326,535,362,535,536,280,537,290,486,287,468,266,454,267,430,282,427,286,408,297,401,310,370,324,362,336,364,369,326,371,299,366,286" , href: "https://www.city.toyooka.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "387,249,363,286,367,301,365,323,333,360,322,357,307,365,294,398,282,408,279,422,264,430,263,456,282,471,284,488,273,535,137,535,133,491,156,461,165,463,201,442,192,384,233,362,237,331,226,321,226,306,198,293,184,294,172,282,178,266,164,240,187,238,208,258,233,245,264,263,269,274,280,264,293,261,287,250,316,242,361,240,380,241" , href: "https://www.town.mikata-kami.lg.jp/www/index.html", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "163,245,173,266,168,284,181,299,198,298,222,310,223,324,233,334,226,360,188,382,195,441,164,458,154,455,127,489,133,535,82,534,74,498,79,489,65,463,51,438,60,387,41,372,42,346,1,313,56,295,80,281,115,271,143,246" , href: "https://www.town.shinonsen.hyogo.jp/", target: "_blank", alt: "画像が見つかりません"}
