.enjoy
  = image_tag src= "/assets/hyogo-setonaikai00.jpg", size: "530x530",class: "enjoy__image", usemap: "#hyogos", alt: "画像が見つかりません"
%map{name: "#hyogos"}
  %area{shape: "poly", coords: "457,90,457,265,465,276,473,296,489,303,505,315,529,310,535,302,535,261,530,248,530,230,535,223,535,160,528,162,513,156,511,140,522,132,514,122,507,110,484,99,467,101,467,90" , href: "https://www.city.amagasaki.hyogo.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "453,91,453,264,460,277,471,302,465,315,446,318,440,340,423,330,417,315,417,89,432,91,445,80" , href: "https://www.city.kobe.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "413,86,413,319,418,330,402,329,357,343,340,329,351,321,351,48,358,46,363,56,381,46,405,52,410,59,410,66,427,74,424,83" , href: "https://www.city.kobe.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "347,47,347,320,336,329,315,330,299,318,285,314,284,308,297,296,297,14,300,24,331,33" , href: "https://www.city.akashi.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "294,12,294,295,277,309,265,308,280,291,280,0,295,2,299,7" , href: "https://www.city.akashi.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "277,0,277,287,262,307,220,279,223,273,223,265,216,259,233,246,233,0" , href: "http://www.city.takasago.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "230,0,230,245,212,259,220,269,218,276,196,269,196,0" , href: "https://www.city.himeji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "194,0,192,265,190,275,173,269,161,272,135,272,142,265,132,245,147,226,148,210,131,204,140,193,135,188,135,-1", href: "https://www.city.himeji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "132,0,132,188,136,193,127,205,143,214,143,225,129,243,139,263,132,268,113,268,102,274,85,277,78,264,79,256,70,253,64,238,64,97,63,82,51,68,64,52,75,58,93,49,108,40,106,27,110,10,103,0", target: "_blank", href: "https://www.city.aioi.lg.jp/", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "60,95,59,235,67,257,73,259,76,266,81,277,57,289,52,291,44,289,41,285,29,287,17,280,20,266,9,247,2,244,3,234,0,211,5,204,0,190,0,150,15,144,21,126,34,122,45,97,61,96", target: "_blank", href: "https://www.city.ako.lg.jp/", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "146,315,116,296,74,318,107,334,130,329" , href: "https://www.city.himeji.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
