
.main
  .main__left
    .main__left__text-area
      最新釣果
    .main__left__images-area
      .main__left__images-area__image
  .main__right
    .main__right__explain
      ※このサイトは関西一円の釣果情報を登録ユーザー様の協力の基に一覧できるサイトです。ルールを守って節度を保てる様、何卒よろしくお願い致します。
    .main__right__area-search
      = link_to "エリアから釣果を調べる", "#", class: "main__right__area-search__btn"
    .main__right__type-search
      = link_to "魚種から釣果を調べる", "#", class: "main__right__type-search__btn"