%h1 シーバスの基礎知識
.h1img
  = image_tag src= "/assets/seabass.jpeg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 そもそもシーバスってどんな魚？
.explain
  .explain__area
    %p 日本ではスズキと呼ばれており、分類上はスズキ目スズキ亜目スズキ科スズキ属。古くから日本でも親しみのある魚で、脂が乗って漁獲しやすい夏が旬といわれていて元々は高級魚の扱いだった。ルアーフィッシングではシーバスの呼び名が一般的だが、サイズによって名前が変わる出世魚でもある。全長が30cmくらいまでをセイゴ、60cmくらいまでをハネやフッコ、60cmまたは70cm以上をスズキと呼んでいる。また、ルアー釣りをする人は一般的にシーバスとはマルスズキのことを指し、近似種のヒラスズキとは区別している。
  .explain__img
    = image_tag src= "/assets/seabass2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 シーバスフィッシングってどんな釣り？
%h3 ルアーの種類も多く、釣りをする場所も様々!
.explain
  .explain__area
    %p 気軽に都市近郊の河川や運河でよく釣れていたシーバス。仕事帰りや朝のちょっとした時間帯でも釣ることができるということでかつて、一大ブームを巻き起こした釣りでもある。
    %p 現在はシーバスフィッシングも開拓＆発展し、様々なフィールドで釣られることが多くなっている。軽装備なコンパクトスタイルでも、キモさえ抑えておけば、釣りは成立するので気軽に挑戦可能。しかし、場所や状況によって簡単にあっさり釣れることもあれば、いくら探せど、シーバスの姿すら見えないなんて経験をすることもある。こういったゲーム性の高さこそがこの釣りの魅力といえる。
  .explain__img
    = image_tag src= "/assets/seabass1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 シーバスのシーズン
%h3 年間通して楽しめる。最盛期は春と秋！
.explain
  .explain__eging
    %p シーバスは正直1年中釣れます。群れが外海を回遊したり、大移動したりするお魚ではないからです。
    %p 冬場は少し沖に移動するので、少し釣れにくくなります。なので、年中釣りやすいわけではなく、やはりシーズンによってシーバスの釣果は変わります。
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p バチ抜け(海底の砂から産卵のためエサが抜け出す現象)がありシーバスは活性化し、エサをたくさん食べる時期！
  .season__summer
    .season__summer__logo
      %p 夏
    %p 夏のシーバスは、沖もしくは大きな川の河口にいる！
  .season__fall
    .season__fall__logo
      %p 秋
    %p 迫り来る冬に備えて体力をつけておくためにシーバスがもっとも活発にベイトを追いかけるシーズン！
  .season__winter
    .season__winter__logo
      %p 冬
    %p ポイントさえ間違えなければまだシーバスを釣ることができる！