%h1 ショアジギングの基礎知識
.h1img
  = image_tag src= "/assets/shorejigging.jpeg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 ショアジギングとは
.explain
  .explain__area
    %p ジギングという釣りは、「メタルジグ」と呼ばれる鉛などの比重の重い素材でできたルアーを使った釣りのことを言います。ジギングには、５０ｇ未満のメタルジグを使用する「ライトジギング」と、頑丈なタックルで５０ｇ上のメタルジグを使用する「ジギング」の２種類があります。「ショア」という言葉は、英語で陸や地続きを意味していて、ライトショアジギングは、船上ではなく、地続きの陸から５０ｇ未満のジグを用いて魚を狙うジギングということになります。
    %p メタルジグは、同サイズの他のルアーに比べて重いため、比較的頑丈なタックルを使用し、時には大胆なアクションで魚に誘いをかけるユニークな釣りです。
  .explain__img
    = image_tag src= "/assets/shore2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 ターゲットは青物
%h3 日本各地の沿岸に生息し、大型が釣れるのも魅力！
.explain
  .explain__area
    %p ハマチやブリ、ヒラマサなどの青物からキジハタ、アカハタなどの根魚まで、様々な魚種を陸から狙えます。
    %p 海面で魚達がベイトフィッシュを捕食する「ナブラ」が湧いて案外簡単に釣れることもありますが、基本的には投げまくり、しゃくりまくりのハードな釣り！でも、釣れてたらデカくて、よく引き食べると美味しい魚達が待ってますよ！
  .explain__img
    = image_tag src= "/assets/shore1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 ショアジギングのシーズン
%h3 青物狙いのベストシーズンは「初夏～晩秋」
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p 狙える魚はヒラメやチヌ、マダイ、エソ、ハタ類などで、岸から急激に水深が深くなる地形を狙うのが定石。
  .season__summer
    .season__summer__logo
      %p 夏
    %p 夏はショアジギングシーズンインの季節！
  .season__fall
    .season__fall__logo
      %p 秋
    %p 秋は最高の時期！この時期を逃すと勿体無い！
  .season__winter
    .season__winter__logo
      %p 冬
    %p 冬は（基本的に）オフシーズン
