.enjoy
  = image_tag src= "/assets/wakayama00.jpg", size: "530x530",class: "enjoy__image", usemap: "#wakayama", alt: "画像が見つかりません"
%map{name: "#wakayama"}
  %area{shape: "poly", coords: "162,16,163,47,85,73,13,35,45,16" , href: "http://www.city.wakayama.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "175,46,178,67,162,88,165,94,155,97,145,94,125,99,111,111,79,81" , href: "http://www.city.wakayama.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "108,118,127,103,146,97,158,100,171,94,167,88,179,72,186,108,134,144,121,146,114,139,95,143,82,131,55,136,58,125,86,113", href: "http://www.city.kainan.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "59,140,82,136,93,147,110,144,122,152,111,163,102,161,92,165" , href: "https://www.city.arida.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "94,169,101,165,111,168,117,165,174,192,130,220,117,216,110,210,114,204,109,198,89,197,91,181"  , href: "http://www.town.yuasa.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "56,194,86,188,87,197,91,201,105,202,111,205,103,209,70,214,65,222,56,220,56,212,50,200" , href: "http://www.town.yura.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "68,222,72,216,105,211,116,226,108,228,94,225,77,231" , href: "http://www.town.yura.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "67,223,76,233,94,228,105,229,109,245,102,245,97,241,60,253,49,265,49,240" , href: "http://www.town.wakayama-hidaka.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "55,264,60,259,91,248,94,258,100,266,96,272" , href: "http://www.town.mihama.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "97,246,107,250,114,246,123,260,123,269,129,273,125,276,117,275,126,291,120,307,95,278,103,265,96,253" , href: "http://www.city.gobo.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "129,264,146,263,196,244,221,244,229,260,205,263,191,269,181,278,174,301,159,302,154,313,157,325,137,326,140,310,125,310,130,291,126,280,133,274"  , href: "https://www.town.wakayama-inami.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "159,327,157,313,160,306,176,304,182,280,199,269,228,265,256,281,253,289,211,293,206,304,196,308,197,321,188,346,165,337" , href: "http://www.town.minabe.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "193,345,202,322,200,312,210,305,216,296,241,293,257,290,267,333,220,373,210,372,197,358" , href: "http://www.city.tanabe.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "190,364,208,374,236,377,270,387,285,359,303,368,308,389,214,418,213,406,186,393,183,382" , href: "http://www.town.shirahama.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "215,420,312,390,323,387,359,391,361,397,349,414,345,412,337,416,331,406,316,408,310,404,300,405,298,408,292,412,293,421,273,419,269,427,272,432,262,444,258,460,236,453,229,437,214,430", href: "http://www.town.shirahama.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "261,461,264,447,275,434,273,430,275,425,296,425,294,417,299,413,301,410,309,410,315,415,328,413,337,422,345,418,350,420,354,418,362,430,360,442,346,440,341,446,340,453,347,455,341,466,347,471,344,483,309,481" , href: "http://www.town.susami.lg.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "347,484,351,468,344,465,351,454,344,452,344,446,349,442,361,450,376,471,392,462,411,472,408,496,400,501,361,495"  , href: "https://www.town.kushimoto.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "410,499,414,475,433,464,440,450,444,442,457,437,470,443,472,445,470,453,473,458,479,458,481,462,466,472,436,486,438,496,427,523,398,527,397,513,409,504" , href: "https://www.town.kushimoto.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "447,438,457,434,476,443,476,451,477,455,484,454,487,462,496,453,501,446,517,432,510,422,509,402,522,404,532,393,523,389,515,388,510,387,504,379,496,376,486,382,482,373,460,357,449,366,451,371,439,374,433,367,415,375,428,411"  , href: "https://www.town.nachikatsuura.wakayama.jp/", target: "_blank", alt: "画像が見つかりません"}
  %area{shape: "poly", coords: "412,370,431,363,438,370,443,369,443,364,458,352,481,368,487,376,496,371,509,382,520,385,524,380,534,362,534,354,517,345,499,335,489,335,476,312,462,285,454,256,434,248,426,251,419,272,424,296,438,309,403,333,387,346,385,355,399,374" , href: "https://www.city.shingu.lg.jp/forms/top/top.aspx", target: "_blank", alt: "画像が見つかりません"}
