.wally
  = image_tag src= "/assets/wally5.jpg", size: "900x550",class: "wally__image", usemap: "#wally", alt: "画像が見つかりません"
%map{name: "#wally"}
  %area{shape: "poly", coords: "135,330,160,330,160,360,135,360", href: clear_posts_path, alt: "画像が見つかりません", class: "wally__image__person"}