.wally
  = image_tag src= "/assets/wally8.jpg", size: "900x550",class: "wally__image", usemap: "#wally2", alt: "画像が見つかりません"
%map{name: "#wally2"}
  %area{shape: "poly", coords: "760,430,800,430,800,475,760,475", href: clear_posts_path, alt: "画像が見つかりません", class: "wally__image__person"}