%h1 ワインド釣法の基礎知識
.h1img
  = image_tag src= "/assets/tatiuo.jpg", size: "700x400", alt: "画像が見つかりません", class: "h1img__image"
%h2 ワインド釣法とは
.explain
  .explain__area
    %p ワインド釣法とは、やじり型のジグヘッドとシンプルな形状のワームを組み合わせて、ワインドアクションをする釣法のこと。
    %p 専用のワームは、基本的には専用のスティックタイプのワーム、ワームの基本であるビームタイプのワーム、テールのついたシャッドタイプのワームの３つになります。ジグヘッドも専用のものになり、ワインド釣法のダートを手助けしてくれるものになります。重さもいくつかあり、対象魚、環境に合わせられ、夜間でもできるようにグローカラーもあります。
  .explain__img
    = image_tag src= "/assets/tatiuo2.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"
%h2 ワインド釣法で釣れるメインターゲットとは？
%h3 主な対象魚は、『タチウオ』『シーバス』『フラットフィッシュ（マゴチやヒラメ）』『青物』など、様々な魚種を狙うことができる釣法です。
.explain
  .explain__area
    %p 太刀魚は近年特にワインド釣法で釣れると話題になっている魚種で、一種のブームとなっています。釣れるときは、入れ食いの用に釣れるので、初心者がルアーゲームに入門するのには、割とちょうどいいターゲットの魚だと思われます。
    %p かなり美味な魚種でもあるので、持ち帰って嫌がられることもありません。太刀魚は、鱗はなく調理も楽なのもいい点ですね。ただし、どちらも鋭い歯が特徴なので、特に気を付ける必要があります。また、小型の仕掛けであれば、カマスも釣れるようです。
  .explain__img
    = image_tag src= "/assets/tatiuo1.jpg", size: "250x160", alt: "画像が見つかりません", class: "explain__img__photo"

%h2 ワインド釣法での太刀魚シーズン
%h3 8月から12月頃までがシーズン!
.season
  .season__spring
    .season__spring__logo
      %p 春
    %p ショアから狙うには厳しい時期です。沖釣りでは可能性があります。
  .season__summer
    .season__summer__logo
      %p 夏
    %p 釣れ始めの時期で関西では一文字を除けば南方から順々に釣果が上がる。
  .season__fall
    .season__fall__logo
      %p 秋
    %p 岸から狙う太刀魚の最盛期を迎えます!
  .season__winter
    .season__winter__logo
      %p 冬
    %p 最盛期に比べ釣れにくくなりますが、良型～大型が狙えるシーズンとなります。